/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    max-height: 100vh;
}

#big-logo {
    width: 75%;
    margin-bottom: 24px;
}

ul {
    list-style-type: none;
}

.greyline {
    border-color: #a8a8a8;
    height: 0.3px;
    margin: 10px 0;
}

main {
    overflow: auto;
}

/* Utils */

.container {
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Sidebar */


.sidebar {
    background-color: black;
    position: sticky;
    max-width: 200px;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #a8a8a8;
    font-size: 13px;
    height: 92vh;
    z-index: 1;
}

.sidebar img {
    width: 15%;
    margin-right: 8px;
}

/* Header Sidebar */

.header-sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-sidebar ul {
    margin-bottom: 30px;
}

/* Main sidebar */

.playlist-title {
    color: white;
    margin-bottom: 10px;
}

.create {
    display: flex;
    align-items: center;
    gap: 10PX;
    margin-bottom: 20px;
}

.plus-button i {
    background-color: #a8a8a8;
    font-size: 1.5rem;
    padding: 5px 8px;
}

.playlist li {
    margin-bottom: 14px;
}

/* Sidebar Footer */

.footer-sidebar {
    margin-top: 30px;
}

#profile  {
    height: 25px;
    background-color: #a8a8a8;
    border-radius: 50%;
}

.installation-section {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.author-section {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    color: white;
}

/* Upgrade Navbar */

.upgrade-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color:#080b12bd;
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 100px;
}

/* Footer player */

.footer-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    z-index: 2;
}



